@use '../abstracts/' as abs;

*,
*::before,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // This define what 1rem is
  font-size: 62.5%; //1 rem = 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include abs.respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px, /16 = 50%
  }

  @include abs.respond(tab-port) {
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include abs.respond(big-desktop) {
    font-size: 75%; //1rem =12px 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
}
