@use '../../../scss/abstracts/' as abs;
@use '../../../scss/base/' as base;

.hero {
  padding: 10vw;

  //shorthand
  // background: [background-image] [background-position] / [background-size] [background-repeat] [background-attachment] [background-origin] [background-clip] [background-color];

  background: url(../../../assets/images/mein-dish_2_2x-removebg.png),
    linear-gradient(to right, #232526, #414345);
  background-repeat: no-repeat;
  background-position: center right;

  @include abs.respond(phone) {
    background-image: linear-gradient(to right, #1a1a1a, #09090989),
      url(../../../assets/images/mein-dish_2_2x-removebg.png);
    background-repeat: no-repeat;
  }

  .text-box {
    width: 70%;
    // max-width: 45rem;
    // background-color: rosybrown;
    @include abs.respond(tab-port) {
      width: 90%;
    }
    @include abs.respond(phone) {
      width: 100%;
    }

    &__title.title--main {
      font-family: Josefin Sans, sans-serif;
      font-size: 7rem;
      font-weight: 500;
      color: white;
      padding-block: 0.4em;

      @include abs.respond(phone) {
      }
    }

    &__title.title--sub {
      font-family: Clash Display, sans-serif;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 1px;
      color: white;
      width: 60%;
      line-height: 1.2;

      margin-bottom: 4rem;

      strong {
        background-color: #3fb13d;
        font-weight: 500;
        padding: 0 5px;
      }

      @include abs.respond(phone) {
        width: 70%;
        min-width: 20rem;
      }
    }
  }
}
