@use '../../../scss/abstracts/' as abs;

.section-newsletter {
  width: 50%;
  margin: 0 auto;

  &__form.form {
    flex-direction: row;
    justify-content: center;
    border: solid 2px #3fb13d;
    gap: 0;
  }

  &__label.input-wrapper__label {
  }

  &__input-wrapper.input-wrapper {
    width: 100%;
  }

  &__group.form__group {
    width: 100%;
  }

  @include abs.respond(tab-port) {
    width: 80%;
  }
}
