@use '../../sass/abstracts/' as abs;

.btn {
  font-family: 'Clash Display', sans-serif;
  font-size: 2rem;
  text-transform: capitalize;
  border: none;
  display: inline-block;
  width: max-content;
  letter-spacing: 0.5px;
  margin-block: 0.5em;

  // Animations//
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0.2rem 0.2rem 0.25rem rgba(0, 0, 0, 0.15);
    cursor: pointer;

    // animation, scaling by hover
    transform: scaleX(1.01);
  }

  &:active {
    box-shadow: 0.2rem 0.2rem 0.26rem rgba(0, 0, 0, 0.5);
    // animation, scaling and shifting down
    transform: translateY(2px) scaleX(1.01);
  }

  @include abs.respond(tab-port) {
  }
}
